
<!-- 善恶资源网 -->
<!DOCTYPE html>
<html lang="zh">
<head>
       {% include 'index/head.html' %}
<link rel="shortcut icon" href="/static/error/404/favicon.ico" />
<link rel="bookmark"href="/static/error/404/favicon.ico" />
<title>404</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8" />
<meta name="keywords" content="" />
<script>
	addEventListener("load", function () {
		setTimeout(hideURLbar, 0);
	}, false);

	function hideURLbar() {
		window.scrollTo(0, 1);
	}

</script>
<!-- //Meta tag Keywords -->
<!--/Style-CSS -->
<link rel="stylesheet" href="/static/error/404/css/style.css" type="text/css" media="all" />
<!--//Style-CSS -->
<!-- font-awesome-icons -->
<link href="/static/error/404/css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome-icons -->

</head>

<body>
  {% include 'index/header.html' %}
<section class="w3l-error-61-404">
	<!-- /error-61-section -->
	<div class="error-61-mian">
		<div class="wrapper">
			<div class="errors-16-top">
				<div class="errors-16-info">
					<h3> 404 </h3>
					<p>sorry! 页面找不到了~</p>
{#					<a href="https://jingyan.baidu.com/article/295430f102ebd44d7f00507d.html"><u><font color=	#B0C4DE>解决方法...</font></u></a>#}
					<form action="http://127.0.0.1" method="post" class="d-flex error-page-form" style="box-shadow: 0 0 6px black;border: #0a001f">
						<font style="color:#ffffff;font-size:21px;font-weight:bold;">&nbsp;&nbsp;(ಥ﹏ಥ)&nbsp;&nbsp;前方高能,遭遇了小恶魔404 beat it!&nbsp;</font>
						<button type="submit"><span class="fa fa-film" aria-hidden="true">&nbsp;返回首页</span></button>
						</form>
{#					<div class="social-coming-icons">#}
{#						<a href="https://suguoer.com//" title="DDNight博客" class="footer-home"><span class="fa fa-home"#}
{#								aria-hidden="true"></span></a>#}
{#						<a href="http://wpa.qq.com/msgrd?v=3&uin=123456&site=qq&menu=yes" title="QQ" class="footer-qq"><span class="fa fa-qq"#}
{#								aria-hidden="true"></span></a>#}
{#						<a href="#" title="微信" class="footer-wx"><span class="fa fa-weixin"#}
{#								aria-hidden="true"></span></a>#}
{#						<a href="#" title="微博" class="footer-wb"><span class="fa fa-weibo"#}
{#								aria-hidden="true"></span></a>#}
{#					</div>#}
				
				</div>

			</div>

		</div>
	</div>
</section>
<!-- //error-61-section -->
{#<audio autoplay="autoplay" src="https://mmkv.cn/163.php" onended="this.load();"></audio>#}
   {% include "public/footer.html" %}
</body>

</html>