 {% load static %}
    <meta charset="utf-8">

    <link crossorigin="anonymous" media="all" integrity="sha512-+LlYCzoIINFSwdPG8+vqo6w8TBMZRoJRBASiCU48bzL3w5EvYcA2sb9hCNg0CTnuvvQrruwwAIfQVjZPw2dqGg==" rel="stylesheet" href="https://github.githubassets.com/assets/frameworks-f8b9580b3a0820d152c1d3c6f3ebeaa3.css" />
    <link crossorigin="anonymous" media="all" integrity="sha512-gDDlusf+VSWCO6r3ViKwCYxJ6SWdhOgXIwrb57P8h1WsfIGRyAs9z2iBDrrx7j+S5ngwV/h2zntUb8so1Z/MaA==" rel="stylesheet" href="https://github.githubassets.com/assets/behaviors-8030e5bac7fe5525823baaf75622b009.css" />
    <link crossorigin="anonymous" media="all" integrity="sha512-0GJYFh0qNez3x6MysVJnBLOHKF1YDffNwFSX0ac8U7uVa0ZFQt8+ATDsb+beK2Ca6Ch7vmPZkFFOyiDzjKdgSA==" rel="stylesheet" href="https://github.githubassets.com/assets/github-d06258161d2a35ecf7c7a332b1526704.css" />
    <link rel="icon" class="js-site-favicon" type="image/svg+xml" href="{% static '/blog/img/care.png' %}">
    <link rel="stylesheet" href="{% static 'global/css/hbf.css' %}">
    <title>Dark</title>


