{% extends 'public/base.html' %}
{#  <section style="background: url({{ background_img_url }}); background-size: cover; background-position: center center" class="hero">#}
{#      <div class="container">#}
{#        <div class="row">#}
{#          <div class="col-lg-7">#}
{#            <h5>{{ content }}</h5><br>#}
{#              <h6>{{ note }}</h6>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </section>#}





    {% block main %}







    {% endblock main %}