<div class="js-webgl-globe"  style="text-align: center;position: fixed;padding: 0;margin: 0;opacity: 1;float: bottom;top:13%;left: 78%;z-index:-1;" >
{#  <video  width="300" height="300" loop muted playsinline preload="none"  class="home-globe-container-video js-globe-fallback-video" hidden>#}
{#    <source type="video/mp4; codecs=hevc,mp4a.40.2" src="https://github.githubassets.com/images/modules/site/home/globe-900.hevc.mp4">#}
{#    <source type="video/mp4; codecs=avc1.4D401E,mp4a.40.2" src="https://github.githubassets.com/images/modules/site/home/globe-900.h264.mp4">#}
{#  </video>#}
{#  <video loop muted playsinline preload="none" class="home-globe-container-video js-globe-fallback-video-small" hidden>#}
{#     <source type="video/mp4; codecs=hevc,mp4a.40.2" src="https://github.githubassets.com/images/modules/site/home/globe-500.hevc.mp4">#}
{#    <source type="video/mp4; codecs=avc1.4D401E,mp4a.40.2" src="https://github.githubassets.com/images/modules/site/home/globe-500.h264.mp4">#}
{#  </video>#}
</div>
