<script crossorigin="anonymous" defer="defer" integrity="sha512-i7uz2Vu69c525RKlqdo7vVT+rNwe3KIXAemb1TS/gJ0yqHuHCWj0N6QTIOypjdN38fdFgadCMfFT4d7qppWoDQ==" type="application/javascript" src="https://github.githubassets.com/assets/webgl-globe-8bbbb3d9.js"></script>
  <link rel="assets" href="https://github.githubassets.com/">
  <!-- To prevent page flashing, the optimizely JS needs to be loaded in the
    <head> tag before the DOM renders -->
  <script crossorigin="anonymous" defer="defer" integrity="sha512-+jU501Se8pk+19AWlNhSR/uznFeWGI9ndTB52CGeN8Fze/Srm+6H0FN6FCnvSdvVMtHwsV1NGq1sX5RvBwEGAg==" type="application/javascript" src="https://github.githubassets.com/assets/optimizely-fa3539d3.js"></script>
  <meta name="features-datafile" content="{&quot;features&quot;:[{&quot;name&quot;:&quot;home_page_globe&quot;,&quot;enabled&quot;:true,&quot;percentageOfActors&quot;:0,&quot;actors&quot;:[]}]}" />
  <!-- To prevent page flashing, the datafile features JS needs to be loaded in the
    <head> tag before the DOM renders -->
  <script crossorigin="anonymous" defer="defer" integrity="sha512-vWIwqkTgK/amFLHOQR28O3GQksVx5eICwUaD6w0wBZb445/gbJ9vd8JhxpRMgZjzhqfqqG+EBBHQhALLT3KG8w==" type="application/javascript" src="https://github.githubassets.com/assets/features-bd6230aa.js"></script>

